{% extends "company/index.html" %}

{% block style %}


<script defer src='{{url_for("static",filename="assets/plugins/fontawesome/js/all.min.js")}}'></script>
    

<link id="theme-style" rel="stylesheet" href='{{url_for("static",filename="assets/css/portal.css")}}'>


{% endblock %}


{% block banner %}

{% endblock banner %}

{% block navbar %}
<!--Navigation bar-->
<div class="row navigates">
    <div class="col-md-7" id="top">
        <img src='{{url_for("static",filename="images/logo2.png")}}' alt="logo" width="15%">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary rounded-pill mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Menu
      </button>
      
      
    </div>
</div>
{% endblock %}


{% block form %}
    <div style="background-color: rgba(197, 197, 197, 0.199);">
	    
  {% with m=get_flashed_messages()%}
  {% if m:%}
	{% for msg in m:%}
	  <p class="alert alert-success">{{msg}}</p>
	{%endfor%}
  {% endif %}
  {% endwith %}
			<div class="app-content pt-3 p-md-3 p-lg-4">
				<div class="container-xl">
					
					<h1 class="app-page-title">My Account</h1>
					<div class="row gy-4">
						<div class="col-12 col-lg-6">
							<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
	<div class="app-card-header p-3 border-bottom-0">
		<div class="row align-items-center gx-3">
			<div class="col-auto">
				{% if emp_deets != [] %}
					{% if emp_deets.e_comp_photo != None %}
				<div>
					<img src='{{url_for("static",filename="uploads/"+emp_deets.e_comp_photo)}}' width="45" height="80%" viewBox="0 0 16 16" class="bi" >
				</div>
				{% else %}
				<div>
					<img src='{{url_for("static",filename="images/avatar.png")}}' width="45" height="80%" viewBox="0 0 16 16" class="bi" >
				</div>
				{% endif %}
				
			</div>
			<div class="col-auto">
				<h4>Profile</h4>
	</div>
	<div class="col-md-7 mx-1 text-end">
	<a class="btn-sm app-btn-secondary" href="{{url_for('comp_pix')}}">Upload Picture</a>
		</div>
</div>

</div>
<div class="app-card-body px-4 w-100">
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		
		<div class="col-auto">
			<div class="item-label"><strong>Company Name</strong></div>
			
		
			<div class="item-data">
				<span>
				{{ emp_deets.e_company_name }}
				</span>
			</div>
		
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Name</strong></div>
		
			<div class="item-data">
				<span>
					{{ emp_deets.employer_fname }}</span>
					<span> {{ emp_deets.employer_lname }}</span>
				
			</div>
		
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Email</strong></div>
		
			<div class="item-data">
				<span>
				{{ emp_deets.employer_email }}
				</span>
			</div>
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Company Address</strong></div>
			<div class="item-data">
		
				<span>
					{{ emp_deets.e_comp_address }}
				</span>
			</div>
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Company Phone no</strong></div>
			<div class="item-data">
		
				<span>
					{{ emp_deets.e_comp_phoneno }}
					
				</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
<div class="app-card-footer p-4 mt-auto">
<a class="btn app-btn-secondary" href="{{ url_for('comp_update')}}">Manage Profile</a>
</div>

</div>
</div>
<div class="col-12 col-lg-6">
<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
<div class="app-card-header p-3 border-bottom-0">
<div class="row align-items-center gx-3">
	<div class="col-auto">
		<div>
			<img src='{{url_for("static",filename="images/filter.png")}}' width="30" height="60%" viewBox="0 0 16 16" class="bi" >
		</div>
		
	</div>
	<div class="col-auto">
		<h4 class="app-card-title">Preferences</h4>
	</div>
</div>
</div>
<div class="app-card-body px-4 w-100">

<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Language </strong></div>
			<div class="item-data">English</div>
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Time Zone</strong></div>
			<div class="item-data">???</div>
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Email Subscription</strong></div>
			<div class="item-data">Off</div>
		</div>
	</div>
</div>
<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>SMS Notifications</strong></div>
			<div class="item-data">Off</div>
		</div>
	</div>
</div>

<div class="item border-bottom py-3">
<div class="row justify-content-between align-items-center">
	<div class="col-auto">
		<div class="item-label"><strong>Company Website</strong></div>
		<div class="item-data">
		{% if emp_deets != [] %}
			
			{{ emp_deets.e_comp_website }}
		
		{% else %}
			{{ None }}
		{% endif %}
		</div>
	</div>
</div>
</div>
</div>
<div class="app-card-footer p-4 mt-auto">
<a class="btn app-btn-secondary" href="{{url_for('comp_post')}}">Post Job</a>
</div>

</div>
</div>
<div class="col-12 col-lg-6">
<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
<div class="app-card-header p-3 border-bottom-0">
<div class="row align-items-center gx-3">
	<div class="col-auto">
		<div>
			<img src='{{url_for("static",filename="images/security.png")}}' width="30" height="60%" viewBox="0 0 16 16" class="bi" >
		</div>
		
	</div>
	<div class="col-auto">
		<h4 class="app-card-title">Security</h4>
	</div>
</div>
</div>
<div class="app-card-body px-4 w-100">

<div class="item border-bottom py-3">
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="item-label"><strong>Password</strong></div>
			<div class="item-data">********</div>
</div>
<div class="col text-end">
	<a class="btn-sm app-btn-secondary" href="{{ url_for('comp_pwd_update')}}">Change</a>
									</div>
										</div>
									</div>
									<div class="item border-bottom py-3">
										<div class="row justify-content-between align-items-center">
											<div class="col-auto">
												<div class="item-label"><strong>Two-Factor Authentication</strong></div>
												<div class="item-data">Unavailable </div>
											</div>
											<div class="col text-end">
												<a class="btn-sm app-btn-secondary" href="#">Unavailable</a>
											</div>
										</div>
									</div>
									<div class="item border-bottom py-3">
										<div class="row justify-content-between align-items-center">
											<div class="col-auto">
												<div class="item-label"><strong>Log out</strong></div>
											</div>
											<div class="col text-end">
										<a class="btn-sm app-btn-secondary" href="{{url_for('comp_logout')}}">Log out</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="app-card-footer p-4 mt-auto">
								   <a class="btn app-btn-secondary" href="{{ url_for('comp_pwd_update')}}">Manage Security</a>
								</div>
							   
							</div>
						</div>
									</div>
						</div>
					</div>
					
				</div>
		   


{% endblock %}
{% block acc %}

{% endblock %}

{% block inlinejs %}
 <!-- Javascript -->          
 <script src='{{url_for("static",filename="assets/plugins/popper.min.js")}}'></script>
 <script src='{{url_for("static",filename="assets/plugins/bootstrap/js/bootstrap.min.js")}}'></script>  

 <!-- Charts JS -->
 <script src='{{url_for("static",filename="assets/plugins/chart.js/chart.min.js")}}'></script> 
 <script src='{{url_for("static",filename="assets/js/index-charts.js")}}'></script> 
 
 <!-- Page Specific JS -->
 <script src='{{url_for("static",filename="assets/js/app.js")}}'></script> 

{% endblock %}
                 