{% extends "user/index.html" %}

{% block style %}

<style type="text/css">
  div{
      justify-content:space-between;
      display:block;
      text-align: left;
      min-height:50px;
  }
    a{
      text-decoration: none;
      color: rgb(255, 253, 253);
    }
    a:hover{
      text-decoration: none;
    }
  .acc{
    
    text-decoration: none;
    color: rgb(124, 124, 124);
  }
  .acc:hover{
    text-decoration: none;
    color: rgb(255, 253, 253);
  }
  .navigates{
      position:sticky;
      top:0px;
      background-color: white;
      
  }
  .bodyone{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .shift{
    text-align: left;
  }
  .prop{
      text-align: left;
      border-radius: 5%;
      border:1px solid rgb(158, 168, 252)
  }
  button:hover{
      
      border:1px solid rgb(255, 255, 255);
      background-color: rgb(96, 94, 243);
      color:white;
  }
  .offcanvas:hover{
      color:white;
      background-color: rgb(96, 94, 243);
  }
  .offcanvas{
    background-color: black;
  }
  .filter{
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-right: 1px solid grey;
    border-radius: 10%;
    box-shadow:7px 6px 5px rgb(53, 52, 52),7px 6px 5px rgb(10, 10, 10);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
  }
  .footer{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-color: rgb(0, 0, 0);
      }
  .footer_accordion:hover{
      border:1px solid rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      color:white;
  }
  .footer_end{
      color:white;
  }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        color:#747171
    }
    .number{
        color:blue
    }
    nav {
        display: flex;
        justify-content: center;
        border-top: 1px solid #eee;
        margin-top: 1em;
        padding-top: .5em;
    }

    .pagination {
        list-style: none;
        display: flex;
    }

    .pagination li {
        margin: 0 1px;
    }

    .pagination a {
        display: block;
        padding: .5em 1em;
        border: 1px solid #999;
        border-radius: .2em;
        text-decoration: none;
    }

    .pagination a[aria-current="page"] {
        background-color: #333;
        color: #fff;
    }
    .applied{
        text-align: center;
    }
</style>


        {% endblock style %}

{% block form %}
<div class="mt-3 bg-light">
    <h2 class="applied">Jobs Applied For</h2>


{% with m=get_flashed_messages()%}
{% if m:%}
  {% for msg in m:%}
    <p class="alert alert-success">{{msg}}</p>
  {%endfor%}
{% endif %}
{% endwith %}
    {% if japp !=[] %}
        {% for ja in japp %}
        <a href="{{url_for('description',id=ja.appliedjob.job_id)}}" style="text-decoration: none; color: #333;">
    <div class="row job mb-2 mt-2 px-5">
        
        <hr>

                <div class="col-1">
            {% if ja.appliedjob.employerjob.e_comp_logo != None %}

            <img src='{{url_for("static",filename="uploads/"+ja.appliedjob.employerjob.e_comp_logo)}}' alt="logo" width="100%" class="px-4 mt-1">
            {% else %}
            <img src='{{url_for("static",filename="images/avatar.png")}}' alt="logo" width="100%" class="px-4 mt-1">
            {% endif %}

                </div>
                <div class="col">

            <span>
             <b>{{ ja.appliedjob.job_title }}</b><br>
            <b><i>{{ ja.appliedjob.employerjob.e_company_name }}</i> </b></span>
                </div>
        <div class="col">
            <span><b>Work Hours:</b><br>
                {{ ja.appliedjob.job_workhours }}</span>
        </div>
        <div class="col">
            <span><b>Req:</b>
                <br>{{ ja.appliedjob.job_exp_required[0:35] }}...</span>
        </div>
        <div class="col">
            <span><b>Type:</b>
                <br>
                {{ ja.appliedjob.job_type }}
            </span>
        </div>
        <div class="col">
            <span><b>Status: </b>
                <br>
                
                {{ ja.appliedjob.job_status }}
            </span>
        </div>
        <div class="col">
            <span style="font-size: 16px;"><b>Date Posted: </b><br><i>{{ ja.j_app_date_applied }}</i></span> 
        </div>
           
        
   
    </div></a>
        {% endfor %}
         <hr>
    {% else %}
    <div style="min-height: 200px;">
        <h3>No Jobs Applied For Yet, Click <a href="{{ url_for('dashboard')}}" style="text-decoration: none; color: black;">Here</a> to apply for one</h3>
    </div>
    {% endif %}


{% endblock %}


{% block acc %}

{% endblock %}

