{% extends "user/index.html"%}


        {% block style %}

    <style type="text/css">
      div{
          justify-content:space-around;
          display:block;
          text-align: center;
          min-height:50px;
      }
        a{
          text-decoration: none;
          color: rgb(255, 253, 253);
        }
        a:hover{
          text-decoration: none;
          color: rgb(231, 231, 253);
        }
      .acc{
        
        text-decoration: none;
        color: rgb(124, 124, 124);
      }
      .acc:hover{
        
        text-decoration: none;
        color: rgb(255, 253, 253);
      }
      .navigates{
          position:sticky;
          top:0px;
          background-color: white;
          
      }
      .bodyone{
          font-size:30px;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
      }
      .shift{
        text-align: left;
      }
      .toggleform{
        font-size:30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .prop{
          text-align: left;
          border-radius: 5%;
          border:1px solid rgb(158, 168, 252)
      }
      .body_accordion{
        border:1px solid rgb(255, 255, 255);
          background-color: rgb(122, 120, 238);
          color:white;
      }
      button:hover{
          
          border:1px solid rgb(255, 255, 255);
          background-color: rgb(98, 119, 238);
          color:white;
      }
      .offcanvas:hover{
          color:white;
          background-color: rgb(96, 94, 243);
      }
      .offcanvas{
        background-color: black;
      }
      .footer{
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      background-attachment:fixed;
      background-color: rgb(0, 0, 0);
          }
      .footer_accordion:hover{
          border:1px solid rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          color:white;
      }
      .footer_end{
          color:white;
      }
      
    .forms{
        justify-content: center;
        border: 2px solid rgb(15, 14, 70);
        border-radius: 13%;
        background-color: rgba(80, 80, 250, 0.164);
    }
    .form-group{
      text-align: left;
    }
  </style>

  {% endblock style %}

                                <!--Toggle between forms-->


          {% block form %}

<div class="row">
<div class="col toggleform mt-5">
<input type="radio" name="users" id="regbtn" value="register"><label form="option1">New user? Click here to register</label><br>
<input type="radio" name="users" id="loginbtn" value="login" checked><label form ='option 2'>Already registered? Click <a href="#" style="text-decoration: none;color:black;"> here</a> to log in</label>
</div>
</div>

<!--Login form-->


<div class="row form-group" id="login">
<div class="col-md-5 mt-5 mb-5 forms">
<div class="row">
<div class="col mb-2 mt-2">
<h2>Login Form</h2>
<form class="form-group" method="post" action='{{url_for("user_login")}}'>
  {% with m=get_flashed_messages() %}
  {% if m: %}
  {% for msg in m%}
  <p class="alert alert-danger">{{msg}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
<div>
  <label>Email</label>
<input type="email" placeholder="Input Your Email Address" name="email" class="form-control border-info">
</div>
<div>
  
                                          <label>Password</label>
<input type="password" placeholder="Input Your Password" name="pwd" class="form-control border-info">
</div>
<div>
<button type="submit" class="btn btn-success mb-5 mt-3 form-control">login</button>
</div>
</form>

</div>
</div>    
</div>
</div>


<!--Registeration form-->

<div class="row form-group animate__animated  animate__zoomIn" id="register">
<div class="col-md-6 mt-5 mb-5 forms">
<div class="row">
<div class="col mb-2 mt-2">
<h2>Registration Form</h2>
<form class="form-group" method="post" action='{{url_for("register")}}'>
  {% with m=get_flashed_messages() %}
  {% if m: %}
  {% for msg in m%}
  <p class="alert alert-danger">{{msg}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
<div class="row">
<div class="col-md-6">
<div>
<label>First name: </label>
<input type="text" placeholder="Input Your First Name" name="fname" class="form-control border-info">
</div>
<div>
<label>Last Name: </label>
<input type="text" placeholder="Input Your Last Name" name="lname" class="form-control border-info">
</div>
<div>
<label>Username: </label>
<input type="text" placeholder="Create Username" name="username" class="form-control border-info">
</div>
<div>
<label>Email: </label>
<input type="email" placeholder="Input Your Email Address" name="email" class="form-control border-info">
</div>
<div>
<label>Phone Number: </label>
<input type="text" placeholder="Input Your Phone Number" name="number" class="form-control border-info">
</div>
<div class="row">
<div class="col-md-6">
  <label>State: </label>
  <select name="states" class="form-select form-select-md mb-1" id="state">
  <option selected value="">Choose Your State...</option>
  {% for s in state %}
  <option value="{{ s.state_id }}" class="form-control border-dark">{{ s.state_name }}</option>
      {% endfor %}
  </select> 
  </div> 
<div class="col-md-6">
<label>LGA: </label>
<div id="mylga" style="border: 1px solid grey;"></div>
</div>
</div>
</div>
<div class="col-md-6">
<div>
<label>Address: </label>
<textarea type="text" placeholder="Input Your Address" name="address" class="form-control border-info"></textarea>
</div>
<div>
  
  <label class="form-group mt-3">Gender: </label>
  <input type="radio" name="gender" value="Male"> <span>Male</span>
  <input type="radio" name="gender" value="Female"> <span>Female</span>
</div>
<div>
<label>Security Question: </label>
<textarea type="text" placeholder="Enter Security Question" name="user_sec_que" class="form-control border-info"></textarea>
</div>
<div>
<label>Security Answer: </label>
<textarea type="text" placeholder="Enter Security Answer" name="user_sec_ans" class="form-control border-info"></textarea>
</div>
<div>
<label>Password</label>
<input type="password" placeholder="Input Your Password" name="pwd" class="form-control border-info">
</div>
<div>

</div>
</div>
<div style="width:70%">
<button type="submit" class="btn btn-primary mb-5 form-control">Register</button>
</div>
</div>
</form>    

</div>
</div>
</div>
</div>


{% endblock form %}


<!--Internal javascript-->

{% block inlinejs %}

<script src="{{url_for('static',filename='assets/jquery.min.js')}}"> </script>

<script type="text/javascript" language="javascript">


$(document).ready(function(){
  $('#state').change(function(){
        var stateid = $(this).val()
        $.ajax({
            url:"/load_lga/"+stateid,
            type:"GET",
            success:function(response){
                $("#mylga").html(response)
            },
        error:function(e){
          console.log(e)
        }

        })
        })




$('#register').css('display','none')
$('[name="users"]').click(function(){
var forms = $(this).val();
if(forms =='register'){
$('#login').hide()
$('#register').show()
}else{
$('#login').show()
$('#register').hide()
}
})




})
</script>

{% endblock inlinejs %}

{% block footer %}

{% endblock %}