{% extends "user/index.html"%}


        {% block style %}

    <style type="text/css">
      div{
          justify-content:space-around;
          display:block;
          text-align: center;
          min-height:50px;
      }
        a{
          text-decoration: none;
          color: rgb(255, 253, 253);
        }
        a:hover{
          text-decoration: none;
          color: rgb(231, 231, 253);
        }
      .acc{
        
        text-decoration: none;
        color: rgb(124, 124, 124);
      }
      .acc:hover{
        
        text-decoration: none;
        color: rgb(255, 253, 253);
      }
      .navigates{
          position:sticky;
          top:0px;
          background-color: white;
          
      }
      .bodyone{
          font-size:30px;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
      }
      .shift{
        text-align: left;
      }
      .toggleform{
        font-size:30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .prop{
          text-align: left;
          border-radius: 5%;
          border:1px solid rgb(158, 168, 252)
      }
      .body_accordion{
        border:1px solid rgb(255, 255, 255);
          background-color: rgb(122, 120, 238);
          color:white;
      }
      button:hover{
          
          border:1px solid rgb(255, 255, 255);
          background-color: rgb(98, 119, 238);
          color:white;
      }
      .offcanvas:hover{
          color:white;
          background-color: rgb(96, 94, 243);
      }
      .offcanvas{
        background-color: black;
      }
      .footer{
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      background-attachment:fixed;
      background-color: rgb(0, 0, 0);
          }
      .footer_accordion:hover{
          border:1px solid rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          color:white;
      }
      .footer_end{
          color:white;
      }
      
    .forms{
        justify-content: center;
        border: 2px solid rgb(15, 14, 70);
        border-radius: 13%;
        background-color: rgba(80, 80, 250, 0.164);
    }
  </style>

  {% endblock style %}

                            


          {% block form %}


<div class="row">
  <div class="col-md-8">

  
    <form method="post" action="{{ url_for('update_pwd')}}">
        {% with m=get_flashed_messages()%}
        {% if m:%}
          {% for msg in m:%}
           <p class="alert alert-danger">{{msg}}</p>
          {%endfor%}
        {% endif %}
        {% endwith %}
    <div class="col-md-12">
    <label>Security Question</label>
    <input type="text" placeholder="Enter Security Question" name="secque" class="form-control border-info">
    </div>
    <div class="col-md-12">
    <label>Security Answer</label>
    <input type="text" placeholder="Enter Security Answer" name="secans" class="form-control border-info">
    </div>
    <div class="col-md-12">
    <label>New Password</label>
    <input type="password" placeholder="Enter New Password" name="pwd" class="form-control border-info">
    </div>
    <div class="col-md-12">
    <button type="submit" class="btn btn-primary mb-3 mt-3 form-control">Register</button>
    </div>
  
  </form>   
</div>
 </div>

{% endblock %}

{% block acc %}

{% endblock %}